- @body_class = 'bg-yellow'
.admin-section
  %strong#notice= notice
  %h1 Добавление фото
  
  = render 'form'
  
  = link_to "<i class='fa fa-arrow-left'></i> К списку всех фото".html_safe, photos_path, class: 'pure-button'
