- @title="Видеоработы ~ Модельные тесты/видеопортреты"
- @body_class="video-portrait"

%section.video-section
  %h4.section-name Видеоработы/модельные тесты, видеопортреты

  #container
    = render partial: "video_element", object: @videos

