.pure-u-5-24
.pure-u-13-24.admin-section.bg-red
  %h2 Вход
  %hr
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"pure-form"}) do |f|
    %fieldset.pure-group
      = f.email_field :email, autofocus: true, placeholder: "Email", class: "pure-input-1"
      = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "pure-input-1"

      -#- if devise_mapping.rememberable? 
      -#  = f.label :remember_me, class: 'pure-checkbox' do
      -#    = f.check_box :remember_me
      -#    %small Запомнить
        
    = button_tag type: 'submit', class: 'pure-button pure-input-1' do 
      %i.fa.fa-sign-in
      Войти 
        


