.admin-section.bg-aqua
  %h1 Тут можно добавить фото или видео
  %p Копируешь ссылку на фото или полную ссылку на видео с ютуба, вставляешь ее в форму, выбираешь категорию, в которой оно должно быть и вуаля. Оно будет там. Все гениальное - просто.

  = link_to 'Добавить фото', new_photo_path, class: 'pure-button button-xlarge'
  = link_to 'Добавить видео', new_video_path, class: 'pure-button button-xlarge'