- @title = 'Фотоработы ~ портрет'
- @body_class = 'photo-object'
- @element_class = 'object'

%section.photo-section
  %h4.section-name Фотоработы/предметы

  #container
    = render partial: "photo_element", object: [@photos, @element_class]