%h1 Редактирование видео

= render 'form'

= link_to "<i class='fa fa-arrow-left'></i> Назад".html_safe, videos_path, class: 'pure-button'
= link_to "<i class='fa fa-eye'></i> Показать".html_safe, @video, class: 'pure-button'
