.admin-section.bg-lime
  %h1 Добавление видео
  %p 
    В качестве URL вставляй полный фрейм, скопированный прямо из ютуба! Например:
    %br/
    %strong= '<iframe width="854" height="510" src="//www.youtube.com/embed/hnW7fB84yMQ" frameborder="0" allowfullscreen></iframe>' 
  
  = render 'form'
  
  = link_to "<i class='fa fa-arrow-left'></i> К списку видео".html_safe, videos_path, class: 'pure-button'
