%footer.footer

  .social
    %ul
          
      = link_to "http://arcticnoise.tumblr.com", target: "_blank" do
        %li 
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-tumblr.fa-stack-1x
      = link_to "http://vk.com/arcticnoise_cm", target: "_blank" do  
        %li
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-vk.fa-stack-1x

    .author
      %a{:href => "#", :onclick => "$.colorbox({html:   |                            
      '<div class=yo> |
        <span style=color:#D0021A;font-weight:800;font-size:1.1em;><hr>Винцент Илинич</br>Дизайн и разработка |
        </br>  |
        <hr> |
        </br> |
        </br> |
          <span> |
            ∞ #{link_to "VKontakte", "http://vk.com/id103234803", target: "_blank"} |
          </span> |
          </br> |
          <span> |
            ∞ #{link_to "Github", "https://github.com/Ilinicz", target: "_blank"} |
          </span> |
          </br> |
          <span> |
            ✉ vilinicz@mail.ru |
          </span> |
          </br> |
        </span> |
      </div>', rel:'author',opacity:0.8});"} |
      
